dn: olcDatabase={2}hdb,cn=config
changetype: modify
replace: olcAccess
olcAccess: {0}to attrs=userPassword by dn="cn=ldapadm,dc=novare,dc=com,dc=hk" write by dn="uid=anotheruser,ou=Users,dc=novare,dc=com,dc=hk" write by anonymous auth by self write by * none
#olcAccess: {1}to dn.base="" by * read
#olcAccess: {2}to * by self write by dn="cn=ldapadm,dc=novare,dc=com,dc=hk" write by dn="cn=anotheruser,ou=Users,dc=novare,dc=com,dc=hk" write by * read
#olcAccess: {1}to attrs=userPassword by self write by anonymous auth by dn="cn=admin,dc=example,dc=com" write by * none
